
// src/components/Accueil.scss

.acceuil-container {
  display: flex;
}

.first-container {
  display: flex;;
  height: 80vh;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;

}

.image-container {
  display: flex;
  justify-content: right;
  align-items: right;
  text-align: right;
  margin-left: 20px;

}




.name {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.summary {
  font-size: 1.2em;
  line-height: 1.5;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;

  &:hover {
    background-color: #0056b3;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 0px 20px;
  height: 50px;
  // mettre le footer en bas de la page
  position: fixed;
  bottom: 0;
  width: 97.8%;
}

.footer-left {
  display: flex;
  align-items: center;

  .social-logo {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;

    &:hover {
      filter: brightness(1.2); // Légère augmentation de la luminosité au survol
    }
  }
}

.footer-right {
  font-weight: bold;
  font-size: 1.2em;
}

