# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next/
out/
build/
dist/
dist-ssr/

# tests
coverage/

# env
.env
.env*.local
*.local

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
